 <body>
    <h1>Fantasy Sports Injury Report</h1>



    <form ng-submit="getAll()">
  Enter Player Name:
  <input type="text" ng-model="text" name="text" />
  <input type="submit" id="submit" value="Submit" />
  <pre>{{data}}</pre>
  </form>

 <button ng-click="showme=true">Show Injured Players</button>
  <button ng-click="showme=false">Hide Injured Players</button>  

<div ng-controller="fantasyCtrl">

	<div ng-show="showme">
	 <p ng-hide="showme"></p>
	<ul ng-repeat = "player in data.players | filter:text"> 

		<li>{{player.name}} </li>
		<li>{{player.draft_team_name}}</li>
		<li> {{player.position_name}} </li>
		<li> {{player.birth_date}}  </li>
	</ul>
	</div>


</div>